.dropdown {
  position: absolute;
  background: var(--background-zero);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  padding: 8px 0;
}

.dropdown-animation-enter {
  transform: scale(0.2);
  transform-origin: right top;
}

.dropdown-animation-enter-active {
  transform: scale(1);
  transition: transform 200ms ease;
}

.dropdown-animation-exit-active {
  transform: scale(1);
}

.dropdown-animation-exit {
  transform: scale(0);
  transition: transform 200ms ease;
  transform-origin: right top;
}
