.offline-notification-animation-enter {
  transform: translateY(50px);
}

.offline-notification-animation-enter-active {
  transition: transform ease-in 300ms;
  transform: translateY(0);
}

.offline-notification-animation-exit {
  transition: transform ease-in 300ms;
  transform: translateY(0);
}

.offline-notification-animation-exit-active {
  transform: translateY(50px);
}
