<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="UTF-8" />
        <link rel="manifest" href="<%= require('./manifest.webmanifest') %>" />
        <link rel="icon" type="image/svg+xml" href="<%= require('../images/icon.svg') %>" />
        <link
            rel="preload"
            as="style"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap.css"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://frontend.karpovcourses.net" crossorigin />
        <link rel="preconnect" href="https://storage.yandexcloud.net" />
        <title>News</title>
    </head>
    <body>
        <div id="root"></div>
        <div id="overlay"></div>
    </body>
</html>
